body {
    margin: 0;
}


/* ::-webkit-scrollbar{
    width: 2em;
    
}

::-webkit-scrollbar-track{
    background-color: aqua;
    border: 1px solid black;
    scroll-margin-block-start: 5rem;
    border-radius: 100px;
    

}

::-webkit-scrollbar-thumb{
    background: blue;
    width: 0.5rem;
    border-radius: 100px;
    height: 0.2rem;
} */




header {
    display: flex;
    justify-content: first baseline;
    padding: 0.5em ;
margin: 0 auto;
border: 2px solid black;
background-image: url('jesus.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
height: 42vh;



}


/* header ::after{

    content: 'St. Anthony of Padua';
    display: inline;
    text-align: center;
   color: black;
    background-color: azure;
    width: 90%;
    font-size: larger;
    
} */

header h2 {
    background-color: rgb(214, 214, 214) ;
    color: black;
    text-align: center;
    width: 100%;
    height: 5vh;
    align-self: flex-end;
    margin-bottom: 0;
    

}

.containter_for_all_miracles .first_miracle, .second_miracle, .third_miracle, .fourth_miracle, .fifth_miracle{

    text-align: left;
    padding: 0.2em ;
    border: 1px solid black;
    width: 90%;
    margin: 0 auto;
    

}

.containter_for_all_miracles .first_miracle_inner , .second_miracle_inner , .third_miracle_inner, .fourth_miracle_inner, .fifth_miracle_inner{

    display: flex;
    justify-content: space-evenly;
     
border: 1px solid black;

}



@media (min-width:50px) and (max-width:800px){

    .containter_for_all_miracles .first_miracle_inner , .second_miracle_inner,  .third_miracle_inner, .fourth_miracle_inner, .fifth_miracle_inner{
        
    display: flex;
    flex-direction: column;
    width: fit-content;
    }
    }






