.containter_for_all_miracles  .eleventh_miracle, .twelveth_miracle, .thirteenth_miracle{

    text-align: left;
    padding: 0.2em ;
    border: 1px solid black;
    width: 95%;
    margin: 0 auto;

}

.containter_for_all_miracles .eleventh_miracle_inner, .twelveth_miracle_inner, .thirteenth_miracle_inner{
    display: flex;
    justify-content: space-evenly;
     
border: 1px solid black;

}

.thanks::after{
    background-color: black;
    height: 2px;
    width: fit-content;
    color: black;
    content: '';
    display: block;
    margin: 0 auto;
}


@media (min-width:50px) and (max-width:800px){

.containter_for_all_miracles .eleventh_miracle_inner , .twelveth_miracle_inner, .thirteenth_miracle_inner{
    
display: flex;
flex-direction: column;
width: fit-content;
}

.thanks::after{
    background-color: black;
    height: 2px;
    width: 85%;
    color: black;
    content: '';
    display: block;
    margin: 0 auto;
}}

@media (min-width:801px) and (max-width:1000px){
    .thanks::after{
        background-color: black;
        height: 2px;
        width: 43%;
        color: black;
        content: '';
        display: block;
        margin: 0 auto;
    }}
    
    @media (min-width:1000px) and (max-width:1800px){
        .thanks::after{
            background-color: black;
            height: 2px;
            width: 30%;
            color: black;
            content: '';
            display: block;
            margin: 0 auto;
        }}



/* .containter_for_all_miracles .eleventh_miracle_inner img{

   
    height: 100%;



font-size: small;

}

.containter_for_all_miracles .trial{
    width: 100%;

}

} */


